<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="canvas:BaseUrlAddress" value="https://intergen.acme.instructure.com/api/v1" />
    <add key="canvas:AdminBearerToken" value="Bearer 105464~TJswidHNZ8MJrSiUfUTXb2vdg6mHNUduUaVMu080HuGW0nVr4wTcABtzsAChNHsf" />
    <add key="canvas:TeacherBearerToken" value="Bearer 105464~AMTFWM7IfYrwksUlwZ27wpuNeNLV4BYpLZ6C4Rs0YeVZg2uG0IJXfRhp6HQ1Yl5F" />
    <add key="canvas:StudentBearerToken" value="Bearer 105464~1H9ZDHPFL5ePGp8p4QYi2Esdj3uiLgkPlszgIaL2C3lXm5Q5tBXehjKou09S7Er7" />
  </appSettings>
</configuration>